.main {
    display: flex;
    height: 100%;
    width: 100%;

    background-color: rgb(255, 202, 173);

    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content {
    display: flex;
    height: 100%;
    width: 60%;
    min-width: 400px;
    padding: 20px;

    background-color: #eee;

    overflow-y: scroll;
}

.contentInner {
    display: flex;
    width: 100%;
    max-width: 100%;;

    flex-direction: column;
}

.contentBlock {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 10px 0 10px 0;

    flex-direction: row;

    border-bottom: 1px black solid;

}

.text {
    display: flex;
    height: 100%;
    width: 45%;

    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin: 5px 0 5px 0;
}



.worksheetDownload {
    display: flex;
    height: 50px;
    max-width: 300px;
    margin: 10px 0 0 0;
    
    background-color: #ccc;
    border-radius: 5px;

    flex-direction: row;
    align-items: center;
}
.worksheetDownload:hover {
    cursor: pointer;
}

.worksheetDownload img {
    height: 60%;
    margin: 0 10px 0 10px;
}

.worksheetDownload p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.video {
    display: flex;
    height: 100%;
    width: 55%;

    margin-left: 10px;

    /* background-color: red; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}